Here is what we are going to go collect from online. 

https://www.acehardware.com/departments/home-and-decor/pet-supplies/pet-food/8505828

In [1]:
# import libraries 

from bs4 import BeautifulSoup
import requests
from datetime import datetime
import pandas as pd

In [ ]:
# you need some information from your browswer

## Inspect HTML

You need to inspect the website. This is a little easier (I think) in chrome, so that is what I will use. You can google how to inspect the HTML in Safari if interested. 

You also need YOUR User Agent info. Mine is below. To get yours, go to https://httpbin.org/get and copy the User Agent row.

In [4]:
# Connect to Website and pull in data

URL = 'https://www.acehardware.com/departments/home-and-decor/pet-supplies/pet-food/8505828'

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.4 Safari/605.1.15", 
    "X-Amzn-Trace-Id": "Root=1-63ea8b83-62abe2693bb683e84b5f4552"}

page = requests.get(URL, headers=headers)

All = BeautifulSoup(page.content, "html.parser")

pretty_soup = BeautifulSoup(All.prettify(), "html.parser")

#these will form the basis for our dataframe
product_name = pretty_soup.find(itemprop='name').get_text()
price = pretty_soup.find(itemprop="price").get_text()


print(product_name)
print(price)

       Taste of the Wild High Prairie All Ages Roasted Bison and Venison Dry Dog Food Grain Free 28 lb


          59.99

In [5]:
type(price)

str

In [6]:
f_price = price.strip()
f_price

'59.99'

In [7]:
type(f_price)

str

In [8]:
c_price = float(f_price)
print(c_price)
print(type(c_price))

59.99
<class 'float'>

In [9]:
c_prod = product_name.strip()

In [10]:
product1 = pd.DataFrame({'product_name':[c_prod],
                         'price': [c_price]})
product1

                                        product_name  price
0  Taste of the Wild High Prairie All Ages Roaste...  59.99

In [11]:
all_prod = pd.DataFrame(columns=['product_name', 'price'])
all_prod

Empty DataFrame
Columns: [product_name, price]
Index: []

In [12]:
all_prod = pd.concat([all_prod, product1],
                     ignore_index = True)

In [13]:
all_prod

                                        product_name  price
0  Taste of the Wild High Prairie All Ages Roaste...  59.99

Nice! Let's add time.

We can get the time using the datetime package in Python.

In [17]:
date_time = datetime.now() 
time = date_time.strftime("%H:%M:%S")
print("The current time is", time)

The current time is 11:24:04

In [16]:
#clean that up a little bit
time = datetime.now().strftime("%H:%M:%S")
print(time)

11:24:01

In [22]:
## Let's put that all together

# Connect to Website and pull in data

URL = 'https://www.acehardware.com/departments/home-and-decor/pet-supplies/pet-food/8505828'

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.4 Safari/605.1.15", 
    "X-Amzn-Trace-Id": "Root=1-63ea8b83-62abe2693bb683e84b5f4552"}

page = requests.get(URL, headers=headers)

All = BeautifulSoup(page.content, "html.parser")

pretty_soup = BeautifulSoup(All.prettify(), "html.parser")

#these will form the basis for our dataframe
product_name = pretty_soup.find(itemprop='name').get_text()
price = pretty_soup.find(itemprop="price").get_text()
time = datetime.now().strftime("%H:%M:%S")

c_prod = product_name.strip()
c_price = float(price.strip())

product1 = pd.DataFrame({'product_name':[c_prod],
                         'price': [c_price],
                         'time': [time]})

all_prod = pd.DataFrame(columns=['product_name', 'price', 'time'])

all_prod = pd.concat([all_prod, product1],
                     ignore_index = True)

In [23]:
all_prod

                                        product_name  price      time
0  Taste of the Wild High Prairie All Ages Roaste...  59.99  11:25:40

# Clean all that up

In [24]:
all_prod = pd.DataFrame(columns=['product_name', 'price', 'time'])

In [25]:
all_prod

Empty DataFrame
Columns: [product_name, price, time]
Index: []

In [26]:
def get_me_dog_food():
    URL = 'https://www.acehardware.com/departments/home-and-decor/pet-supplies/pet-food/8505828'

    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.4 Safari/605.1.15", 
        "X-Amzn-Trace-Id": "Root=1-63ea8b83-62abe2693bb683e84b5f4552"}

    page = requests.get(URL, headers=headers)

    All = BeautifulSoup(page.content, "html.parser")

    pretty_soup = BeautifulSoup(All.prettify(), "html.parser")

    #these will form the basis for our dataframe
    product_name = pretty_soup.find(itemprop='name').get_text()
    price = pretty_soup.find(itemprop="price").get_text()
    time = datetime.now().strftime("%H:%M:%S")

    c_prod = product_name.strip()
    c_price = float(price.strip())

    df = pd.DataFrame({'product_name':[c_prod],
                             'price': [c_price],
                             'time': [time]})

    return df

In [31]:
scrappy = get_me_dog_food()
all_prod= pd.concat([all_prod, scrappy],
                     ignore_index = True)
all_prod

                                        product_name  price      time
0  Taste of the Wild High Prairie All Ages Roaste...  59.99  11:28:00
1  Taste of the Wild High Prairie All Ages Roaste...  59.99  11:28:07
2  Taste of the Wild High Prairie All Ages Roaste...  59.99  11:28:13
3  Taste of the Wild High Prairie All Ages Roaste...  59.99  11:29:56
4  Taste of the Wild High Prairie All Ages Roaste...  59.99  11:30:02

In [34]:
import os
os.getcwd()

'/Users/joeldavis/Library/CloudStorage/OneDrive-UniversityofFlorida/Documents/courses/QMB3302/notebooks/notebooks'