In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt

In [ ]:
import os #important to import when dealing with data
import urllib #used to grab datasets from the web
url = 'https://datahub.io/core/gold-prices/r/monthly.csv'
newpath = os.path.join("data")
data_path = os.path.join(newpath,"Gold.csv" )
req = urllib.request.urlretrieve(url, data_path)
web_data = pd.read_csv(data_path)
web_data.head()

# Looking through data:
## The data loaded in is that of gold prices throughout the years

Now that we can see the data is loaded in properly we need to check wha type of data it holds

In [ ]:
web_data.#something()

### We can see that the date type is an object and can be converted to datetime

In [ ]:
web_data['Date']=pd.to_datetime(web_data['Date'])

In [ ]:
web_data.#something()

# Plot to see what the data looks like

In [ ]:
web_data.plot#('#value','#value')

# Plot me the data between March, 2009 to March, 2019

In [ ]:
web_data.plot#('#value','#value')
#google a way to TIMESTAMP a plot
# plt.xlim .... is one way

# Create a new Data Frame with a decade of data and then plot it

In [ ]:
web_dataDecade = web_data[(web_data['Date'] [#OPERATOR] "2000-01") & (web_data['Date'] [#OPERATOR] "2010-01")]

In [ ]:
web_dataDecade.plot('Date','Price')

# Find your Decade's mean price vs the overall mean price of Gold

In [ ]:
web_dataDecade.Price.#something()

In [ ]:
web_data.Price.#something()

# Plot a simple moving average with a laggard of 30
## When predicted prices one tool used is often a simple moving average it is especially useful for time series data

In [ ]:
web_data['SMA']=web_data['Price'].rolling(#value).something()

In [ ]:
web_data.plot('Date',['Price','SMA'])

# Feel free to play around and re-plot with various SMA

#

# Now lets try a new set with various exchange rate data against the dollar

In [ ]:
url = 'https://datahub.io/core/exchange-rates/r/daily.csv'
newpath = os.path.join("data")
data_path = os.path.join(newpath,"Gold.csv" )
req = urllib.request.urlretrieve(url, data_path)
xchange = pd.read_csv(data_path)
xchange.head()

# Repeat the same process of  converting date to datetime

In [ ]:
xchange.info()

In [ ]:
xchange['Date']=pd.to_datetime(xchange['Date'])

In [ ]:
xchange.info()

# When looking as the head, you may notice repeating values in the column for country, maybe its best to pivot this data

In [ ]:
xchange2 =xchange.pivot(index='Date',columns='Country',values='Value')

In [ ]:
xchange2.info()
#or get rid of .info() to just see all data

In [ ]:
xchange2 = pd.DataFrame(xchange2)

# Something to note, pivoted object is no longer a data frame and needs to be converted back

# Lets create 2 new dataframes to plot the exchange rate data of two countries of your choice, take one from the pivot table an another from the original data frame

In [ ]:
#Currency1 (name it actual currect EX: AUD) = xchange2['Country']

In [ ]:
#Currency = xchange[xchange.Country== #COUNTRY]

In [ ]:
plt.plot(Currency1,label='Currency1')
plt.plot(Currency2['Date'],Currency2['Value'],label='Currency2')
plt.legend()
plt.show()

# If the chart has rising values that does not mean the currency is appreciating but depreciated. The value of 1 dollar has become X in the currency you chose

# Now, for once last item, lets create a decade of timeseries data again

In [ ]:
#should be able to do it previously, copy that earlier code if needed

# Plot as usual

In [ ]:
#plot

# The data should still be in DateTime and I am curious as to which weekday has the highest average value. Luckily we can find this out

In [ ]:
#find the weekdays
print(#something[].dt.day_name())

In [3]:
#create a column for each Date's corresponding weekday

# Pandas has a groupby function to sort each value by similar grouping, in our case, weekdays

# Group some weekdays and do some math or function calls to find the means

In [ ]:
# x = df.groupby(something)

In [ ]:
# print(something.mean())