# Week 3 Workbook

Try to answer these questions on Week 3. This should be a little less hectic than last week (we'll alternate the stress if we can!)

Questions very similar, but in some cases not exactly the same, as on the Week 3 Quiz, so be sure to answer them to the best of your ability.

You do not need to submit this assignment workbook... you just need to complete the quiz this week. Note that this workbook asks you to explore a few different ways of getting to a solution. It is less about "the right solution" and more about getting you coding and getting hands on the keyboard. Don't over think it...just code! 

Good luck!

## What is df?

df (short for dataframe) is used alot as an example. You saw it in the course videos, and in the textbook too! It is just a shorthand way of saving a quick dataframe. Eventually you will probably want to rename your "df" tables something else. One thing you want to make sure of: if there are multiple tables called df, make sure you are running code on the right one! It is easy to mix this up.

## Selecting from Dataframes

### 1 Simple selections from a series

Imagine we create a pandas series using the below code. What is a simple way to retrieve the value 2 from the series? In other words, what code would show '2' in the output. (There is more than one way, try them all!)

In [ ]:
import pandas as pd
df = pd.Series([2, 4, 4, 1],
                 index=['a', 'b', 'c', 'd'])

In [ ]:
#WRITE IN YOUR SOLUTION HERE>>> or CREATE ANOTHER CODE CELL

### 2 Create a quick data frame, select from it

Create the below data frame.

In [ ]:

import pandas as pd
  
# create a list of lists
data = [['Sam', 2], ['Dave', 3], ['Jim', 7], ['Molly', 1]]
  
# Create the pandas DataFrame
cats = pd.DataFrame(data, columns=['Name', 'Cats'])
cats

Run the code below, what does it produce? Try different variations of selecting with .loc. What happens when you try 'cats.loc[:2]'?

In [ ]:
cats.loc[2:3]

### 3 Make some data

Create a dataframe of random numbers. The code is below. What happens when you change the values 1234 at the end of 'rng = np.random.default_rng(1234)'?

In [ ]:
import numpy as np
#create a range of random values... this just makes it reproducible.
rng = np.random.default_rng(1234)
#create a dataframe using those random values!
df = pd.DataFrame(rng.integers(0,400,size=(15, 4)), columns=list('ABCD'))
df["A"].mean()

Can you figure out how the dataframe was created? It has 15 'rows' and 4 'columns'. How would you rewrite the above code so that is has 20 rows and 5 columns. The columns should have the names "ABCDE". You can google the answer... but it should be pretty easy to figure out by just looking at that code.

In [ ]:
#make a table with 20 rows and 5 columns

#WRITE IN YOUR SOLUTION HERE>>> or CREATE ANOTHER CODE CELL

### 4 Describing data

What does describe do? Run it on the dataframe you created in 3. Play around with both the random number keyh (1234) and the column and row structure.

In [ ]:
###WRITE IN YOUR SOLUTION HERE>>> or CREATE ANOTHER CODE CELL

### 5 Errors in code

Small errors can creep into code (usually late at night and without enough coffee). Can you fix the below so that it prints up 'array([3, 3, 3])'

In [ ]:
import numpy as np
a = [1,1,1]
b = [2,2,2]

np_a = numpy.array(a)
np_b = numpy.array(b)
a + b

One common error is trying to run a function or method that is not in your current session. Run the code below and see what happens! How would you fix it? (feel free to google the answer here!)

In [1]:
import pandas as pd
today = datetime.datetime.now()
print(now)

NameError: name 'datetime' is not defined

In [4]:
###WRITE IN YOUR SOLUTION HERE>>> or CREATE ANOTHER CODE CELL
import datetime as datetime
import pandas as pd
today = datetime.datetime.now()
print(today)

2023-01-26 14:51:58.604813