# Python Basics

## Python is easy

In [1]:
2 + 2

4

In [2]:
x = 2
x + 2

4

In [3]:
print(x)

2

### Try different things as we go

In [4]:
### this is a comment
### write your code below here
print("hello world")

hello world

## Style

### Structure

Python loves structure. Indentations are used by python to interpret your codes structure (what you are trying to do). So keep that in mind. We'll discuss this topic more when we cover loops.

### Comments in code

Commenting your code is useful. It provides future you some idea of what you were trying to do, and helps give any others that might come across your code a sense of your purpose as well. In this course you will see me use commenting frequently, as a way to communicate what we are doing.

In [5]:
# Lines that start with "#" are comments.

# Commenting your code means everything to the RIGHT of this hash sign (#) is ignored.

In [6]:
y = 1
print(y)

1

This is different than a markdown cell like this. This text is read as a type of plaintext called markdown. You can see a lot of examples of markdown in the class files. It is a really cool and powerful way of writing.

## Operators

### Arithmetic Operators

Python has a number of built in math operators that are helpful. Canvas has some cheat sheets of these, so there is no need to memorize which ones do what.

|Operator | What it does | example |
| --- | --- | --- |
| + | Addition | 2 + 2 = 4|
|- | Subtraction | 5 - 2 = 3 |
| *  | Multiplication | 2 * 3 = 6 |
| / | division | 5 / 2 = 2.5|
| // | integer division | 5 / 2 = 2|
|% | Modulus/Remainder | 5 % 2 = 1 |
| **  | Exponent | 2 ** 3 = 8 |

In [7]:
2 + 2

4

In [8]:
5 - 2

3

In [9]:
2 * 3

6

In [10]:
2 ** 3

8

In [11]:
7 / 3

2.3333333333333335

If you just want the integers, use a double division sign

In [12]:
7 // 3

2

Python knows the right order for these kinds of operations. But you still need to make sure you are using the right language

The following will give you an error:

In [13]:
2 + 2(3+2)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/var/folders/jj/vhzjgmld30s622_zd423wg8867f3y5/T/ipykernel_2040/17758933.py:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  2 + 2(3+2)

TypeError: 'int' object is not callable

Just be clear when giving Python commands, and it will work out fine

In [14]:
2 + 2 * (3+2)

12

### Comparison OperatorsÂ 

These are used to compare values. They return either True or False.

|Operator | What it does | example |
| --- | --- | --- |
| == | Equal (Equal to) | 2 == 2 |
| !=  | Not equal | 2 != 3 |
| >  | Greater than | 3 > 2 |
| <  | Less than | 2 < 3 |
| >= | Greater than or equal to | 4 >= 2|
| <= | Less than or equal to | 2 <= 4 |

In [15]:
2 == 2

True

In [16]:
2 != 3

True

In [17]:
4 >= 1

True

In [18]:
4 <= 2

False

### Logical Operators

These are used to combine conditional statements.

|Operator | What it does | example |
| --- | --- | --- |
| and | True if both operands are true | 6 > 5 and 6 < 10 |
| or  | True if at least one of the operands is true | 6 < 5 or 6 > 5 |
| not  | True if the operand is false | not(4 > 5) |

### Assignment Operators

Assignment operators are used to assign values to variables. We'll talk more about these in the next section.

## Variables in code

A variable is a name, or letter, that represents a value. We ASSIGN values to that variable name using an "=" sign. 

Variable assignments in Python are a critical element to understand. Let's do a quick variable assignment and break down that code.

In [19]:
# assign the variable x a value of 1.
x = 1

In [20]:
#So now when we take a peek and look at x, we should see that it is assigned the value "1"
print(x)

1

In [21]:
#We can change x again, by assigning a new value to it. Let's assign 3
x = 3
print(x)

3

In [22]:
#We can do more than one variable at a time. We can also assign variables OTHER variables
y = 5
print(x + y)

8

In [23]:
z = x + y
w = x * y    #the "*" is for multiplication
print(z)
print(w)

8
15

In [24]:
#A list can be assigned as well. 

shopping = [1, 2, 3]
print(shopping)

[1, 2, 3]

### What variables have I stored?

It can get confusing after awhile to remember what you've done. You can use the %whos command to see what variables you have stored. 

It is worthwhile to note that this command does not work in every python interface. But it does work in Jupyter notebooks. Because it is not universal, better to leave it out of any production/permanent code you write.

In [25]:
%whos

Variable   Type    Data/Info
----------------------------
shopping   list    n=3
w          int     15
x          int     3
y          int     5
z          int     8

## Data Types

### Strings

Strings are just pieces of text like "Hello" or "Sorry that didn't work".

In [26]:
print("Hello World")

Hello World

In [27]:
greeting = "Hello World"
print(greeting)

Hello World

In [28]:
greeting

'Hello World'

Quotes can sometimes lead to error. Note the use of a single " ' " below. Using double quotes can avoid this kind of issue. Of course there are times when you would want to use single quotes... but lets not get that complicated just yet!

In [29]:
#The following will show an error: 
print('UF's Class')

SyntaxError: unterminated string literal (detected at line 2) (2579299573.py, line 2)

In [30]:
#Double quotes avoids this error:
print("UF's Class")

UF's Class

There are a few special cases that may come in handy.

If you want to put your output on two lines, we can do that! Use the special command \n

In [31]:
print("This is my first line \nThis is my second line")

This is my first line
This is my second line

In [32]:
#this might lead to unexpected results
print("\jdavis\newworkbook")

\jdavis
ewworkbook

To fix this we will just tell python to print the raw text by using a 'r' inside the print function.

In [33]:
print(r"\jdavis\newworkbook")

\jdavis\newworkbook

### Numbers

In [34]:
a = 2
print(a)

2

In [35]:
x = 1
y = 2
x + y

3

In [36]:
print(x+y)

3

In [37]:
print(y)

2

If I want to use the output from this (2) in another operation, than I can use an underscore. Try running the below cell multiple times.

In [38]:
1 + 1

2

In [39]:
#for some of you this will give you an error.
#just skip it if that happens
_ + 4

6

This is not an uncommon pattern. But be careful here... it is easy to lose track of what you are running an operation on. In general I use more obvious relationships

In [40]:
x = 1
y = 2
t = x + y
print(t)

3

#### Different Types of Numeric Number Types

In [41]:
#create an int (integer) number
a = 4
type(a)

int

In [42]:
#create a float number
b = 3.2
type(b)

float

In [43]:
#create a complex number
c = 2 + 2j
type(c)

complex

In [44]:
#create a boolean. 
2 + 2 == 3

False

<br> 
<br> 
<br> 


## Sequences and Lists

A list in Python is a sequence of things, and can have any object types. lists could be made up of a sequence of numbers, strings etc. Lists can also have *mixed* types, such as a sequence with both numbers and strings. Lists are closely related to another object type, called Tuples. 

Lists have an order, and they are changeable (meaning you can change the order, add items, take items away)

### Create a list

You can create a list by enclosing items in square brackets [ ]. Remember that lists can be all one type of data (integer, string etc) or can be mixed.

In [45]:
numlist = [1,2,3]
numlist

[1, 2, 3]

In [46]:
strlist = ["a", "b", "c"]
strlist

['a', 'b', 'c']

In [47]:
mixedlist = [1, 2, "a", "hello"]
mixedlist

[1, 2, 'a', 'hello']

In [48]:
list_numbers = [24, 32, 46, 67]
print(list_numbers)

[24, 32, 46, 67]

### Accessing list items

To get the values from this list, we can just pick them out using '[ ]'

In [49]:
list_numbers[0]

24

The "counting" in Python starts from 0. This is an important concept to remember. If I ask Python to return 0, it will give me the thing in the list that is at the **first position**. If I ask Python to return 1, it will give me the thing at the **second position**.

In [50]:
print(list_numbers)
list_numbers[1]

[24, 32, 46, 67]

32

### Negative Indexing

Negative Indexing: Negative indexing means starting from the end of the list, where -1 refers to the last item.

In [51]:
print(list_numbers)
list_numbers[-1]

[24, 32, 46, 67]

67

In [52]:
print(list_numbers)
list_numbers[-2]

[24, 32, 46, 67]

46

### Slicing a List

You can return a specified range of items in a list by using the slicing operator " : ". When selecting using a range, Python includes the first number in the range, but does not include the last number. Again Python starts counting at 0. So if I ask for 0:2, it will take the first position [0] the second [1] but not the third [2]

In [53]:
list_numbers[0:2]

[24, 32]

If you exclude the first value in the range, it just starts at 0.

In [54]:
list_numbers[:2]

[24, 32]

If you exclude the last number, it just goes to the end of your list

In [55]:
list_numbers[1:]

[32, 46, 67]

The first list we tried was numbers. But strings work as well.

In [56]:
halls = ['stuzin', 'bryan', 'gerson', 'hough', 'heavener']

Selecting within the list is the same as for numbers

In [57]:
halls[2]

'gerson'

Lets add some things to lists. First, lets get back to the numbers list we used before

In [58]:
list_numbers = [24, 32, 46, 67]

Lets grow this list. We can use some simple commands to add a value to out list. To do this we can use some functions, at the end of the name of the list we created. There are a lot of these, we will focus on just a few. Run the code below. Run it a few times, and note what happens to your list.

In [59]:
list_numbers.append(82)
print(list_numbers)

[24, 32, 46, 67, 82]

In [60]:
list_numbers.extend([39, 45, 14, 95])
list_numbers

[24, 32, 46, 67, 82, 39, 45, 14, 95]

Lets create a small list with some small numbers to look at the next functions

In [61]:
numbers = [3, 5, 7]

Now lets try some simple commands, and see if we can extract some useful information from this list (I know this list is super simple, and doesn't require any of these fancy things, but if your list was 10 million items long...)

In [62]:
#Min
minimum = min(numbers)

#Max
maximum = max(numbers)

#Sum
summary = sum(numbers)
print('My list =', numbers, "\n"
      'min=', minimum, "\n"
      'max=', maximum,"\n"
      'sum=', summary
     )

My list = [3, 5, 7]
min= 3
max= 7
sum= 15

In [63]:
new_numbers = [4, 223, 85]
new_numbers.sort()
new_numbers

[4, 85, 223]

### Useful List Expressions

Example |	Output	 | Explanation
--------------|--------|--------|
len([39, 45, 14, 95])	| 4	 | Returns length
45 in [39, 45, 14, 95] | True | Boolean (True/False)
6 not in [39, 45, 14, 95] | True | Boolean (True/False)
["a", "b", "c"] + ["d", "e", "f"] |	["a", "b", "c", "d", "e", "f"]	|concatenates lists
['Bye!'] * 3 |	['Bye!', 'Bye!', 'Bye!']	|Repeat the list
empty= [ ] | [ ] | Initializes an empty list
a = [None] * 4 | Print(a) ... [None, None, None, None] | Initializes a list

### Lists have some shortcomings

Most relevant for us... they don't do a great job when you need to use certain operations across an entire list.

In [64]:
badlist = [2, 3, 10]
divthat = [10, 10, 10]

In [65]:
2 * badlist

[2, 3, 10, 2, 3, 10]

In [66]:
badlist/divthat

TypeError: unsupported operand type(s) for /: 'list' and 'list'

There is a package that makes these kinds of things possible, called Numpy we'll get to that in later sessions.

### List Methods

In [67]:
nums = [1, 2, 4, 8, 16, 32]
alpha = ['e', 'f', 'a', 'd', 'b']

In [68]:
# extend
nums.extend([64, 19992343])

In [69]:
# append
nums.append(1)
nums

[1, 2, 4, 8, 16, 32, 64, 19992343, 1]

In [70]:
# insert
nums.insert(2, 3)
nums

[1, 2, 3, 4, 8, 16, 32, 64, 19992343, 1]

In [71]:
# remove
alpha.remove('b')

In [72]:
# pop
alpha.pop()

'd'

In [73]:
# index
alpha.index('a')

2

In [74]:
# count
nums.count(7)

0

In [75]:
# sort
alpha.sort()
alpha

['a', 'e', 'f']

In [76]:
# reverse
alpha.reverse()
alpha

['f', 'e', 'a']

In [77]:
# copy
alpha2 = alpha.copy()
alpha2

['f', 'e', 'a']

<br>
<br>
<br>


## Tuples

In [78]:
list_num = [1,5,7,8]
tuple_num = (1,5,7,8)
tuple_num

(1, 5, 7, 8)

In [79]:
# Creating tuples
empty_tuple = ()
single_element_tuple = (4,)
my_tuple = (1, "Hello", 3.4)


### Accessing Elements

Tuples are indexed in the same way as lists. You can access tuple elements using the index number, placed inside square brackets.

In [80]:
# Accessing elements
print(my_tuple[0])  # Outputs 1
print(my_tuple[1])  # Outputs "Hello"

1
Hello

### Immutability of Tuples

Tuples are immutable, meaning that you cannot update or change the values of tuple elements.

In [81]:
# This will lead to an error!
#my_tuple[1] = "World"

### Tuple Methods

Tuples have built-in methods, but not as many as lists. The two most important ones are count and index.

In [82]:
# Count and Index method
print(my_tuple.count(1))  # Outputs the count of '1' in the tuple
print(my_tuple.index("Hello"))  # Outputs the index of "Hello"

1
1

### Tuple Operations

You can concatenate tuples and repeat them just like lists.

In [83]:
# Concatenation
print((1, 2, 3) + (4, 5, 6))

# Repetition
print(('Repeat',) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

### Iterating Through a Tuple

You can loop through the tuple items using a for loop.

(we haven't covered for loops yet!)

In [84]:
# Iteration
for element in my_tuple:
    print(element)

1
Hello
3.4

### Why Tuples?

Tuples are used for grouping data. Since they are immutable, they represent fixed collections of items (e.g., dates, coordinates).

In [85]:
dimensions = (100, 50)
coordinates = (3,4)

### Tuples vs Lists

Tuples are lists that you can't change (they are immutable). They use less memory, and they can be faster to use compared to lists.

Tuples are not something we are going to spend a lot of time in. In fact... we're done with them already!

<br> 
<br> 
<br> 

## Strings

In [86]:
print("University of Florida")

University of Florida

In [87]:
print("University \nof Florida")

University
of Florida

In [88]:
school = ("Warrington")
print(school)

Warrington

In [89]:
print(school + " college")

Warrington college

In [90]:
print(school.lower())

warrington

In [91]:
print(school.upper())

WARRINGTON

In [92]:
print("    |")
print("   |||")
print("  |||||")
print("I made a triangle!")

    |
   |||
  |||||
I made a triangle!

In [93]:
car = "FORD"
print(car)

FORD

In [94]:
print(car[0])

F

In [95]:
print(car[3-1])

R

### Indexing out of range doesn't work

In [96]:
print(car[4])

IndexError: string index out of range

In [97]:
length_of_car = len(car)
print(length_of_car)

4

### Selecting from strings

In [98]:
x = "Star Wars"
print(x)

Star Wars

In [99]:
print(x[0:4])

Star

In [100]:
print(x[5:9])

Wars

Like with lists, you can omit one of those positions in the brackets

In [101]:
print(x[ :4])

Star

In [102]:
print(x[5: ])

Wars

### You can't do math on strings

Most operators won't work on strings for obvious reasons.

In [103]:
string = "Imastring"
string + 2

TypeError: can only concatenate str (not "int") to str

But sometimes this can have some strange results because of how print works. The error above actually tells us we can concatenate.

In [104]:
string = "Imastring"
print(string * 2)

ImastringImastring

### String Methods

#### Join

In [105]:
" ".join(["join", "puts", "spaces", "between", "elements"])

'join puts spaces between elements'

In [106]:
"::".join(["Separated", "with", "colons"])

'Separated::with::colons'

In [107]:
"".join(["Separated", "by", "nothing"])

'Separatedbynothing'

#### Split

In [108]:
x = "You\t\t can have tabs\t\n \t and newlines \n\n mixed in"
x.split()

['You', 'can', 'have', 'tabs', 'and', 'newlines', 'mixed', 'in']

In [109]:
x = "Mississippi"
x.split("ss")

['Mi', 'i', 'ippi']

### Loops, Fors

We could write a short loop to understand the strings we have... perhaps not useful for the word "ford" but interesting. 

Later workbooks will explore loops more, so don't feel you need to understand these deeply right now.

In [110]:
car = "FORD"
index = 0
while index < len(car):
    letter = car[index]
    print(index, letter)
    index = index +1

0 F
1 O
2 R
3 D

In [111]:
car = "FORD"
for N in car :
    print(N)

F
O
R
D

<br>
<br>
<br>

## Dictionaries

A dictionary is a special object type in Python that does not rely on it's sequence or order. Dictionaries allow you to store information in an orderly way by creating a key-value pair. 


So you'll recall that lists are created with a square bracket [ ], and Tuples are created with ( ). Dictionaries are created with a curly bracket { }

In [112]:
stock_tickers = {
    'GE': 'General Electric',
    'AAL': 'American Airlines',
    'AAPL': 'Apple',
    'DIS': 'Disney',
    'DAL'  : 'Delta',
    'MSFT' : 'Microsoft',
    'TSLA' : 'Tesla',
    'CCL'  : 'Carnival',
        
}

stock_tickers

{'GE': 'General Electric',
 'AAL': 'American Airlines',
 'AAPL': 'Apple',
 'DIS': 'Disney',
 'DAL': 'Delta',
 'MSFT': 'Microsoft',
 'TSLA': 'Tesla',
 'CCL': 'Carnival'}

In [113]:
stock_tickers["GE"]

'General Electric'

In [114]:
stock_tickers["Apple"]

KeyError: 'Apple'

In [115]:
stock_tickers.get("FAS", "No stock with that ticker!")

'No stock with that ticker!'

In [116]:
# add another entry
stock_tickers['GPRO'] = 'GoPro'
stock_tickers

{'GE': 'General Electric',
 'AAL': 'American Airlines',
 'AAPL': 'Apple',
 'DIS': 'Disney',
 'DAL': 'Delta',
 'MSFT': 'Microsoft',
 'TSLA': 'Tesla',
 'CCL': 'Carnival',
 'GPRO': 'GoPro'}

In [117]:
stock_tickers['GPRO'] = 'Go Pro'
stock_tickers

{'GE': 'General Electric',
 'AAL': 'American Airlines',
 'AAPL': 'Apple',
 'DIS': 'Disney',
 'DAL': 'Delta',
 'MSFT': 'Microsoft',
 'TSLA': 'Tesla',
 'CCL': 'Carnival',
 'GPRO': 'Go Pro'}

(optional)

If you would like to review a very interesting use case of dictionaries, check out the below site.

"Use Python to calculate the tone of financial articles"
http://kaichen.work/?p=399

In [118]:
del stock_tickers['GE']
stock_tickers

{'AAL': 'American Airlines',
 'AAPL': 'Apple',
 'DIS': 'Disney',
 'DAL': 'Delta',
 'MSFT': 'Microsoft',
 'TSLA': 'Tesla',
 'CCL': 'Carnival',
 'GPRO': 'Go Pro'}